include extends/header.jade

body
	h1 Welcome to the Eevee quiz!
	
	fieldset
		p Fieldset element!

	#js-parallax-window.parallax-window
		.parallax-static-content
			b Parallax Window
		#js-parallax-background.parallax-background

include extends/footer.jade