include extends/header.jade

body(ng-app="eeveeApp", ng-controller="quizData")
	h1 Welcome to the Eevee quiz!
	
	fieldset
		form
			.question-1(ng-repeat="question in questions")
				h4 Question {{question.number}}
				
				div(ng-repeat="answer in question.answers")
					input(type="radio", name="question-{{question.number}}", value="{{answer.index}}", ng-model="question.selected")
					|	{{answer.text}}
					br
				button(ng-click="answer(question.selected)") Answer here!

	#js-parallax-window.parallax-window
		.parallax-static-content(ng-repeat="result in results | orderBy:'-value' | limitTo:1")
			h2 The winner is {{result.name}}!
		#js-parallax-background.parallax-background
		div
			
	.results
		div.eevee-result(ng-repeat="result in results | orderBy:'-value'")
			h5 {{result.name}} at {{$index}}
			p {{result.type}}
			p {{result.value}}

include extends/footer.jade