.questions(ng-show="!quizOver")
	.progress-bar
		span.meter(style="width: {{ (idr/QLeft) * 100 | number : 0 }}%")

	fieldset
		form
			.question(ng-repeat="question in questions | filter:isStatus")
				h3 Question {{question.number}}
				h5 {{question.question}}
				
				div(ng-repeat="answer in question.answers")
					input(type="radio", name="question-{{question.number}}", value="{{answer.index}}", ng-model="question.selected")
					|	{{answer.text}}
					br
				button.right(ng-click="answer(question.selected)") {{button}}