.results(ng-show="view.quizOver").center
	h2 Congrats, you finished the quiz!

	#js-parallax-window.parallax-window(class="{{result.name}}-static", ng-repeat="result in results | orderBy:'-value' | limitTo:1")
		.parallax-static-content
			h2 You got {{result.name}}, the {{result.type}} type!
			p {{result.description}}
		#js-parallax-background.parallax-background(class="{{result.name}}-parallax")

	h3.result-title How did you score for all the Eeveelutions?
	
	.side-results
		.eevee-result(class="{{result.name}}-resultBox", ng-repeat="result in results | orderBy:'-value'")
			h4 {{result.name}}
			h6 The {{result.type}} type
			p You scored {{ (result.value/q.left) * 100 | number : 0}}%
	button.refresh.final-button Play Again