/// This generates the font sizes based on modular scale so they're consistent and easy to manage.
@each $key, $value in $modular-size-map {
  $main-font-size: modular-scale($value);
  $scaled-font-size: $main-font-size * $scaled-font-ratio;

  #{$key} {
      font-size: $scaled-font-size;

      @include media(breakpoint(tablet)) {
        font-size: $main-font-size;
      }
   } 
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: ($small-spacing / 3) 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
