$eeveelutions: (

	Eevee-bg: red,
	Eevee-text: blue,
	Eevee-pic: "http://img2.wikia.nocookie.net/__cb20140810044703/pokemon/images/c/ce/133Eevee_BW_anime.png",

	Vaporeon-bg: purple,
	Vaporeon-text: green,
	Vaporeon-pic: "http://img2.wikia.nocookie.net/__cb20140810044703/pokemon/images/c/ce/133Eevee_BW_anime.png",

	Jolteon-bg: red,
	Jolteon-text: blue,
	Jolteon-pic: "http://img2.wikia.nocookie.net/__cb20140810044703/pokemon/images/c/ce/133Eevee_BW_anime.png",

	Flareon-bg: red,
	Flareon-text: blue,
	Flareon-pic: "http://img2.wikia.nocookie.net/__cb20140810044703/pokemon/images/c/ce/133Eevee_BW_anime.png",

	Espeon-bg: red,
	Espeon-text: blue,
	Espeon-pic: "http://img2.wikia.nocookie.net/__cb20140810044703/pokemon/images/c/ce/133Eevee_BW_anime.png",

	Umbreon-bg: red,
	Umbreon-text: blue,
	Umbreon-pic: "http://img2.wikia.nocookie.net/__cb20140810044703/pokemon/images/c/ce/133Eevee_BW_anime.png",

	Leafeon-bg: red,
	Leafeon-text: blue,
	Leafeon-pic: "http://img2.wikia.nocookie.net/__cb20140810044703/pokemon/images/c/ce/133Eevee_BW_anime.png",

	Glaceon-bg: red,
	Glaceon-text: blue,
	Glaceon-pic: "http://img2.wikia.nocookie.net/__cb20140810044703/pokemon/images/c/ce/133Eevee_BW_anime.png",

	Slyveon-bg: red,
	Sylveon-text: blue,
	Sylveon-pic: "http://img2.wikia.nocookie.net/__cb20140810044703/pokemon/images/c/ce/133Eevee_BW_anime.png"
);

@function eeveelution($key) {
  @if map-has-key($eeveelutions, $key) {
    @return map-get($eeveelutions, $key);
  }
 
  @warn "Unknown `#{$key}` in $eeveelutions.";
  @return null;
}