body {

	@include span-columns(10);
	@include shift(1);

	@include media($desktop-screen) {
		@include span-columns(8);
		@include shift(2);
	}
}

.results {
	display: flex;
	flex-wrap: wrap;

	.eevee-result {
		flex: 1 0 12em;
	}
}
