$parallax-window-height: 30em;
$parallax-background-height: 30em;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9;

  @include media($mobile-h-screen) {
  	width: 75%;
  }
}