// Styles for winning static areas

// Parallax backgrounds for winning areas:

.eevee-result {
	background-color: purple;
	text-align: center;
	box-sizing: border-box;
	padding: .5em;
}

$eevee-list: Eevee Vaporeon Jolteon Flareon Espeon Umbreon Leafeon Glaceon Sylveon;

@each $eeveelution in $eevee-list {
	.#{$eeveelution}-parallax {
	  background: url(eeveelution(#{$eeveelution}-pic)) no-repeat;
	  background-color: eeveelution(#{$eeveelution}-bg);
	  @extend .parallax-basics;
	}

	.#{$eeveelution}-static {
		color: eeveelution(Eevee-text);
	}

	.#{$eeveelution}-resultBox {
		background-color: eeveelution(#{$eeveelution}-bg);
	}
}

.parallax-basics {
  background-position: center right;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 2;
  width: 100%;
}