.question {
	h3 {
		text-align: center;
	}
}

.answer {
	padding: .25em .5em;
	padding-left: 7.5%;
	@include fix-flex('left', 1em, 2em);

	input {
		
		@include media(breakpoint(tablet)) {
			margin-top: .4em;
		}
	}
}

