// Styles for winning static areas

// Parallax backgrounds for winning areas:

.eevee-result {
	background-color: purple;
	text-align: center;
	box-sizing: border-box;
	padding: .5em;
}

$eevee-list: Eevee Vaporeon Jolteon Flareon Espeon Umbreon Leafeon Glaceon Sylveon;

@each $eeveelution in $eevee-list {
	.#{$eeveelution}-parallax {
	  @include media(breakpoint(mobile-h)) {
		background-image: url(eeveelution(#{$eeveelution}-pic));
	  }

	  // background-color: lighten(eeveelution(#{$eeveelution}-bg), 35%);
	  @extend .parallax-basics;
	}

	.#{$eeveelution}-static {
		color: darken(eeveelution(#{$eeveelution}-text), 35%);
		background-color: lighten(eeveelution(#{$eeveelution}-bg), 35%);
	}

	.#{$eeveelution}-resultBox {
		color: darken(eeveelution(#{$eeveelution}-text), 25%);
		background-color: lighten(eeveelution(#{$eeveelution}-bg), 25%);
	}
}

.parallax-basics {
  background-repeat: no-repeat;
  background-position: center right;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 2;
  width: 100%;
  background-size: 35%;
}